* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Open Sans", Ariel, Tahoma, Verdana, sans-serif;
}

header {
    background: #500000;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    max-width: 1000px;
    margin: 0 auto;
}

header nav h2 a{
    text-decoration: none;
    color: wheat;
    font-weight: 600;
    transition: all 0.3s;
}

header nav h2 a:hover {
    color: white;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    padding-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: wheat;
    transition: all 0.3s;
}

header nav ul li a:hover {
    color: white;
}

footer {
    padding: 1rem;
    margin: 0 auto;
}

footer button {
    border: 2px solid black;
    background: white;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 80px;
    border-radius: 1000px;
    transition: all 0.3s;
}

footer button:hover {
    border: 2px solid black;
    background: black;
    color:white;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 80px;
    border-radius: 1000px;
}

#hero {
    color: white;
    background: #500000;
    text-align: center;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

#hero a {
    text-decoration: none;
    color: white;
}

#hero-left {
    padding: 1rem;
    text-align: center;
    float: left;
    padding: 115px 5rem;
    font-weight: bold;
}

#hero-left img {
    margin: 1rem 0.5rem 0 0.5rem;
    width: 30px;
    height: 30px;
}

#socials {
    display: flex;
    justify-content: center;
}

#headshot img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

#about {
    max-width: 1000px;
    padding: 1rem 0;
    margin: 0 auto;
}

#about h2 {
    padding: 1rem 0;
    text-align: center;
}

#about p {
    text-align: center;
}

#more {
    padding: 1rem 0;
    text-algin: center;
}

#more h2 {
    text-align: center;
}

#more ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#more ul li a {
    text-decoration: none;
    color: black;
}

#more ul li a button {
    border: 2px solid black;
    background: white;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
    border-radius: 1000px;
    transition: all 0.3s;
}

#more ul li a button:hover {
    border: 2px solid black;
    background: black;
    color:white;
    font-weight: bold;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
    border-radius: 1000px;
}

#portfolio {
    max-width: 1000px;
    padding: 2rem;
    margin: 0 auto;
}

#portfolio h1 {
    text-align: center;
    padding: 1rem;
}

.project {
    background-color: #f0f0f0;
    border-radius: 30px;
    height:350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project a{
    text-decoration: none;
    color: black;
}

.project-description h2 {
    margin-top: 1rem;
    text-align: center;
}

.project-description h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.project-description p {
    padding: 1rem;
}

.project img {
    float: left;
    height: 100%;
    width: 40%; 
    object-fit: cover;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.project-description {
    float: right;
    width: 60%;
}

#area {
    background: #500000;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

#area h1 {
    padding: 1rem;
}

#area p {
    max-width: 1000px;
    padding: 2rem;
    margin: 0 auto;
}

#skills {
    max-width: 1000px;
    padding: 2rem;
    margin: 0 auto;
}

#skills h2{
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
}

.card {
    /* flex: 0 1 24%; */
    height: 275px;
    width: 275px;
    background: #f0f0f0;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card h3{
    text-align: center;
    padding: 1rem;
}

.card ul {
    padding-left: 1rem;
}

.card ul li {
    padding: 0.5rem;
}

#resume {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#resume h2 {
    padding-bottom: 2rem;
}

#service-page{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
}

#service-page h1 {
    text-align: center;
    padding: 1rem;
}

#service-page a {
    text-decoration: none;
    color: black;
}

.timeline {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: black;
}

.timeline h3 {
    text-align: center;
    padding-bottom: 1rem;
}
  
.tl-card {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.tl-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.tl-card-desc {
    padding: 2rem;
    flex-grow: 1;
}

.tl-card-desc ul li {
    padding: 0.5rem;
}
  
.tl-background {
    background: #f0f0f0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
}
  
.tl-middle {
    position: relative;
    background: #500000;
}
  
.tl-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #500000;
    border-radius: 50%;
}
  
.tl-move-date {
    text-align: right;
}